
@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<input type="text" bind="@categoria.Descripcion" />
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
 private Categorias categoria =new  Categorias();

    private void IncrementCount()
    {
        currentCount++;

       
        categoria.CategoriaId = 0;
        categoria.Descripcion = $"Tecnico {currentCount}";

        var contexto= new Contexto();

        contexto.Categorias.Add(categoria);

        contexto.SaveChanges();



    }
}
